doctype html
html
    head
        meta(chartset='utf-8')
    body
        form(action="upload" method='post' enctype='multipart/form-data')
            h1 사진은 최대 5장까지 업로드 가능합니다
            input(type='file' name='userfile' multiple)
            input(type='submit')
        //- form(action="upload-multiple" method='post' enctype='multipart/form-data')
        //-     input(type='file' name='many' multiple)
        //-     input(type='submit')